.table-row:hover * {
  background: #000;
  color: #fff;
}

.table tr * {
  text-align: center;
}

.table [scope='col'] {
  width: 20%;
}

th.active svg {
  font-size: 1.2rem;
}

input {
  padding: 0.25rem;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
}

.table-body {
  height: 160px;
  max-height: 160px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  th {
    min-width: 90px;
  }
}

tr.table-row td {
  width: 20%;
}

.table [scope='col'] button {
  width: 100%;
}

.table-body::-webkit-scrollbar {
  width: 6px;
}

.table-body::-webkit-scrollbar-track {
  background: #fff;
}

.table-body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 25px;
}

.search-bar input {
  padding-left: 3.5rem;
}

.search-bar svg {
  left: 1.5rem;
  bottom: 8px;
}
